:root {
  --white: #fff;
}
.list,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
body {
  background: url(../images/jungle.jpg) no-repeat center center fixed;
  background-size: cover;
}
.item {
  list-style: none;
}
.link {
  text-decoration: none;
  color: inherit;
}
.header {
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  display: flex;
  align-items: center;
}
.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.17;
  color: white;
  text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}
.header .list {
  display: flex;
  margin-left: auto;
}
.header .list .item:not(:last-child) {
  margin-right: 20px;
}
.header > .list > .item > .btn {
  display: block;
  text-align: center;
  text-decoration: none;
  min-width: 125px;
  padding: 6px 10px;
  background-color: rgb(77, 97, 86, 0.7);
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: 1px solid rgb(82, 105, 92, 0.7);

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate3d(0, 0, 0);
}
.header > .list > .item > .btn:hover {
  background-color: rgb(77, 97, 86, 1);
}
.main {
  z-index: -1;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main .block {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main .hero {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 85px;
  line-height: 1.17;

  color: #52695c;
  -webkit-text-stroke: 3px#c4c4c4;
  margin-bottom: 20px;
}
.main .text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.16;
  color: #ffffff;

  text-shadow: 50px 50px 250px #d7d7d7;
}
.main .list {
  display: flex;
}
.main > .block > .list > .item > .btn {
  display: block;
  text-align: center;
  text-decoration: none;
  min-width: 285px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 1.17;
  transform: translate3d(0, 0, 0);
}
.main .btn.enter {
  background-color: rgba(77, 97, 86, 0.9);
  border: 3px solid rgba(196, 196, 196, 1);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #e5e5e5;
}
.main .btn.more {
  background-color: rgba(196, 196, 196, 0.9);
  border: 3px solid #2d4437;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgb(46, 68, 56);
}
.main .btn.more:hover {
  background-color: rgba(77, 97, 86, 1);
  color: rgba(196, 196, 196, 1);
  border-color: rgba(196, 196, 196, 1);
}
.main .btn.enter:hover {
  background-color: rgba(196, 196, 196, 1);
  color: rgba(77, 97, 86, 1);
  border-color: rgba(77, 97, 86, 1);
}
.footer {
  position: fixed;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  background: rgba(196, 196, 196, 0.7);
}
.footer > .list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}
.footer > .list > .item {
  position: relative;
  padding-left: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.15;

  color: #000000;
}
.footer .list .item:not(:last-child) {
  margin-right: 70px;
}
.footer .svg-img {
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 10px;
  opacity: 1;
  transform: translateY(-15%);
  fill: #47523c;
}
